:root {
    font-family: Helvetica, Arial, sans-serif;
    --primary: #0c7c67;
    --primary-text: #161417;
    --secondary-text: #353238;
    --primary-background: #c8b7b7;
    --secondary-background: #ebe1e2;
}

.dark-mode {
    --primary: #20cbac;
    --primary-text: #ebe1e2;
    --secondary-text: #c8b7b7;
    --primary-background: #161417;
    --secondary-background: #353238;
}

* {
    margin: 0;
    padding: 0;
}

body { background-color: var(--primary-background); color: var(--primary-text); transition: background-color 0.4s ease, color 0.4s ease; }
.no-transition { transition: none !important; }

::placeholder { color: var(--primary-background); }

a, .button { cursor: pointer; text-decoration: none; color: inherit; }