input#cantidad {
    font-size: 32px;
    font-weight: normal;
    font-family: monospace;
    min-width: 20px;
    overflow: hidden;
    background: none;
    border: none;
    field-sizing: content;
    border-bottom: 2px solid var(--primary-background);
    color: var(--primary-text);
    transition: border 0.25s ease;
}
input#cantidad:focus {
    outline: none;
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

#transferencia-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    border-radius: 24px;
    padding: 20px;
    background-color: var(--secondary-background);
    border: 2px solid var(--primary-background);
    box-shadow: 0 0 0 2px var(--secondary-background);
}
#transferencia-form > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--secondary-text);
}

#contactos-list {
    max-height: 600px;
    overflow: scroll;
    gap: 4px;
}

.contacto {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-radius: 24px;
    background-color: var(--secondary-background);
    padding: 12px 0;
}
.contacto img {
    width: 24px;
    margin: 0 12px;
    background-color: white;
    padding: 6px;
    border-radius: 24px;
}
.contacto h3 { font-size: 16px; font-weight: normal; }
.selected {
    color: var(--primary);
    box-shadow: 0 0 0 2px var(--primary);
}
input:disabled {
    background-color: var(--primary-background);
    border: 2px solid var(--secondary-background);
    box-shadow: 0 0 0 2px var(--primary-background);
    color: var(--secondary-text);
}
input:disabled:hover {
    border: 2px solid var(--secondary-background);
}

#datos-cuenta {
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 12px 24px;

    font-size: 14px;
    border-radius: 24px;
    background-color: var(--secondary-background);
    border: 2px solid var(--primary-background);
    box-shadow: 0 0 0 2px var(--secondary-background);
    color: var(---background);
}
#datos-cuenta h2 {
    display: inline;
}
#datos-cuenta img {
    display: inline;
    width: 16px;
    filter: invert(1);
}
.dark-mode #datos-cuenta img { filter: invert(0); }
#datos-cuenta img:hover { cursor: pointer; }

#popup {
  position: fixed;
  pointer-events: none;
  padding: 12px;
  border-radius: 24px 24px 24px 0;
  background: var(--primary);
  color: var(--secondary-background);
  opacity: 0;
  transition: 0.3s opacity ease;
}
dialog {
    border: none;
    margin: auto;
    background-color: transparent;
    overflow: visible;
}
#contactos-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 240px;
    overflow: scroll;
}
#sin-contactos {
    font-size: 13px;
    color: var(--secondary-text);
    margin-top: 8px;
}
form input[type=text] {
    border-radius: 24px;
    padding: 12px;
    background-color: var(--secondary-background);
    border: 2px solid var(--primary-background);
    box-shadow: 0 0 0 2px var(--secondary-background);
    color: var(--primary-text);
    font-size: 14px;
    text-decoration: none !important;
    transition: border 0.25s ease;
}
form input[type=text]:focus {
    outline: none;
    color: var(--primary);
    border: 2px solid var(--primary);
}
form select {
    border-radius: 24px;
    padding: 12px;
    background-color: var(--primary);
    border: 2px solid var(--primary-background);
    box-shadow: 0 0 0 2px var(--primary);
    color: var(--secondary-background);
    font-size: 14px;
    text-decoration: none !important;
    transition: border 0.25s ease;
}
form select:hover { border: 2px solid var(--primary); }